<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap" rel="stylesheet">

    <title>나홀로 메모장[ver2.0]</title>
</head>
<style>
    * {
        font-family: 'Sunflower', sans-serif;
    }

    .wrap {

        width: 900px;
        margin: auto;

    }

    .jumbotron.jumbotron-fluid {
        padding: 64px 64px;
    }
</style>
<script>
    $(document).ready(function () {
        $('#card-list').empty();
        listing();
    });
    function posting() {
        let title_give = $('#memo-title').val();
        let content_give = $('#memo-content').val();
        $.ajax({
            type: "POST",
            url: "/memo",
            data: { 'title_give': title_give, 'content_give': content_give },
            success: function (response) { // 성공하면
                if (response['result'] == 'success') {
                    alert('저장완료')
                    window.location.reload();
                }
                else { alert('POST_error') }

            }
        })
    }
    function listing() {
        $.ajax({
            type: "GET",
            url: "/memo",
            data: {},
            success: function (response) {
                if (response['result'] == 'success') {
                    let memos = response['memos']
                    for (let i = 0; i < memos.length; i++) {
                        let title = memos[i]['title']
                        let content = memos[i]['content']

                        make_memo(title, content,i)


                    }
                }
            }
        })

    }

    function deleting(title) {
        $.ajax({
            type: "POST",
            url: "/memo/delete",
            data: { 'title_give': title },
            success: function (response) {
                alert('삭제완료');
                window.location.reload()

            }
        });


    }

    function make_memo(title, memo,i) {
        let temp_html = `<div class="col-sm-6" id= "${i}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">${title}</h5>
                        <p class="card-text">${memo}</p>
                        <button type="button" onclick = "make_update_card('${title}','${memo}','${i}')" class="btn btn-info" id="upbtn">수정</button> <button type="button" onclick="deleting('${title}')"
                            class="btn btn-danger">삭제</button>
                    </div>
                </div>
            </div>`

        $('#card-list').append(temp_html);


    }

    function make_update_card(title, memo,i) {

        let temp_html = `
                <div class="col-sm-6" >
                <div class="card">
                    <div class="card-body">
                    <form>
                        <div class="form-group">
                            <input  class="new-title" type="text" value=${title}> </input>
                        </div>
                        <div class="form-group">

                            <textarea  class="new-text" rows="3">${memo} </textarea>
                        </div>

                        <button onclick = "update_setting('${title}')" type="button" class="btn btn-success">저장</button>
                    </form>
                </div>
                </div>
                </div>
                `


                $('#'+ i).replaceWith(temp_html)
            }
        //     //     $('.col-sm-6, #maked').each(function (index, item) { // 인덱스는 말 그대로 인덱스 // item 은 해당 선택자인 객체를 나타냅니다. $(item).addClass('li_0' + index); // item 과 this는 같아서 일반적으로 this를 많이 사용합니다. // $(this).addClass('li_0' + index); });
        
        //     //     $(this).replaceWith('gkgk'+ index)
        //     // })
        // // $(".col-sm-6:eq(" + index + ")").replaceWith(temp_html);

        //     }
        //     var index = $(".col-sm-6").index();
        //     alert(index)
    // $(".col-sm-6").click(function () {
    //    
    //     // $(".col-sm-6:eq(" + index + ")").replaceWith(temp_html);

    //     // $(".col-sm-6").click(function () {

    // });
    // $(".col-sm-6").click(function () {
    //     var index = $(".col-sm-6").index(this);
    //     



    // });
    

    function update_setting(title) {
                let new_title = $('.new-title').val();
                let new_content = $('.new-text').val();
                $.ajax({
                    type: "POST",
                    url: "/memo/update",
                    data: { 'old_title': title, 'new_title': new_title, 'new_content': new_content },
                    success: function (response) {
                        if (response['result'] == 'success') {

                            alert('수정 완료')
                            window.location.reload();


                        }
                        else (
                            alert('수정 에러')
                        )
                    }
                });
            }
</script>

<body>
    <div class="wrap">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>나홀로메모장 <span class="badge badge-secondary">ver2.0</span></h1>
            </div>

            <form>
                <div class="form-group">
                    <input id='memo-title' class="form-control" type="text" placeholder="제목을 입력하세요">
                </div>
                <div class="form-group">

                    <textarea id="memo-content" class="form-control" rows="3" placeholder="내용을 입력하세요"></textarea>
                </div>

                <button type="submit" onclick="posting()" class="btn btn-primary">저장하기</button>
            </form>
        </div>

        <div class="row" id="card-list">


        </div>

    </div>


</body>

</html>